.modal-body{
    padding: 0rem 2rem;
}

.feedback-category{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;

}

.feedback-category .form-check{
    margin-right: 1rem;
}

.feedback-message{
    width: 100%;
    
}
