.newItem{
	display:none;
}

.row{
    padding: 0;
}

.content-wrapper{
/*    background-color: green;*/
    margin: 0px;
    min-height: 100vh;
    align-items: flex-start;
    padding: 0px;
}

.contentBar{
/*    background-color: olive;*/
    padding: 0px;
    min-height: 100vh;
}

.sideBar{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.content{
/*    background-color: red;*/
    max-width: 900px;
    height: auto;
    display: flex;
    padding: 0rem 1rem;
    align-self: flex-start;
}

.content-head-wrapper{
    background-color: white;
    height: auto;
    position: sticky;
    top: 55px;
    padding-top: 2rem;
    z-index: 1;
}



.search-Title{
    width: 100%;
    background-color: white;
    height: 3rem;
}

.search-Title > h5{
/*    background-color: black;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0;
}

.filterBtn{
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
/*    background-color: beige;*/
    color: var(--font-color-secondary);
    cursor: pointer;
}

.filterBtn:hover{
    color: var(--secondary-color);
}

.content div{
    display: flex;
    align-items: center;
}

.content-search-user{
/*    background-color: green;*/
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.content-search-user-item{
/*    background-color: purple;*/
    padding: 0.5rem 1rem;
    height: 8em;
    border: var(--border-default);
    border-radius: 10px;
    margin-bottom: 1rem
/*    box-shadow: inset 0 0 6px var(--primary-color-light); */
}

.content-search-user-item:hover{
    border: none;
    box-shadow: inset 0 0 6px var(--primary-color-light); 
}

.search-user-right{
    width: 20%;
/*    background-color: yellow;*/
    height: 100%;
    display: flex;
    justify-content: center;
}
.search-user-picture-div{
    width: 5rem;
    background-color: white;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 100%;
    border: 2px solid var(--primary-color-dark);
}
.search-user-picture{
    min-width: 100%;
    height: 100%;
    border-radius: 100%;
}

.search-user-left{
    width: 80%;
    background-color: white;
    height: 100%;
    
}

.search-user-fullname{
    width: 100%;
    height: 40%;
/*    background-color: pink;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-size-medium);
    color: var(--font-color-default);
    font-weight: 700
}

.search-user-fullname p{
    padding: 0;
    margin: 0;
    
}
.search-user-bio{
/*    background-color: pink;*/
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-default);
    overflow: hidden;
    width: 80%;
}


.search-user-bio p{
    margin: 0;
    height: 100%;
    width: 90%;
    text-overflow: ellipsis;
    color: var(--font-color-default)
}



/*=======================*/

.sideBar-right{
/*    background-color: purple;*/
    position: sticky;
    max-width: 350px;
    height: 30vh;
    top:90px;
    display: flex;
    align-self: flex-start;
    padding:0px 1rem;
}

.links{
    background-color: var(--secondary-color);
    color: var(--font-color-dark);
    padding: 10px;
    border-radius: 10px;
}


/*=====================*/


.sideBar-left{
    background-color: white;
    position: fixed;
    height: 100vh;
/*    width: 20rem;*/
    z-index: 2;
    padding: 2rem 0;
        border-right: var(--border-default);
}

.filter-Title{
/*    background-color: pink;*/
    height: 5%;
    margin-bottom: 2rem;
    color: var(--font-color-default);
    padding: 0;
                display:flex;
        flex-direction:row;
        justify-content:space-between;
}

.closeFilterBtn{
    font-size: var(--icon-font-size);
    margin: 0 1rem;

}

.closeFilterBtn i{
    color: var(--primary-color-dark);
}

.filter-Title > h6{
    padding: 0rem 1rem;
    
}

.user-skill-filter{
    padding: 0;
    height: 95%;
}

.filter-skill-title{
    font-weight: 600;
    font-size: var(--font-size-medium);
    padding: 0rem 1rem;
}

.skill-filter-item-label{
    font-size: var(--font-size-default);
    font-weight:
}


.filter-skill-checkbox-div{
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
}


.filter-skill-checkboxes{
/*    background-color: blue;*/
    padding: 0rem 1rem;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}



.filter-skill-checkboxes::-webkit-scrollbar{
/*    background-color: blue;*/
    width:0.5em;
}

.filter-skill-checkboxes::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.filter-skill-checkboxes::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark);
/*  outline: 1px solid slategrey;*/
}




/*=========================*/

.seemore, .nomore{
	position: relative;
	margin: auto;
	bottom: 0px;
	padding: 20px 0px;
}

.spinner-grow{
    width: 5px;
    height: 5px;
    margin:2px;
}


.nomore{
	display:none;
	color: var(--secondary-color);
}


